<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This is the Home Page!</h1>
    <form action="/new" method="POST">
        <label for="textinput">Input Text</label>
        <input type="text" name="textinput">
        <br>
        <label for="numinput">Input Number</label>
        <input type="number" name="numinput" value="numinput">
        <br>
        <button type="submit">Add item</button>
    </form>
    <ul>
        <% itemList.forEach(item => { %>
            <li>
                <div><%= item.textinput %></div>
                <div><%= item.numinput %></div>
                <a href="/edit/<%= item._id %>">Edit</a>
                <a href="/edit/remove/<%= item._id %>">Remove</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>